@import "tailwindcss";
@theme {
  --color-background: #090909;
  --color-foreground: #f9f9f9;
  --color-button: #3c3333;
  --color-button-secondary: #532e19;
}
@layer styles {
  .clip-path-2 {
    clip-path: polygon(
      8px 0,
      calc(100% - 8px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      8px 100%,
      0 calc(100% - 8px),
      0 8px
    );
  }
  .clip-path-3 {
    clip-path: polygon(
      12px 0,
      calc(100% - 12px) 0,
      100% 12px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      12px 100%,
      0 calc(100% - 12px),
      0 12px
    );
  }
  .clip-path-4 {
    clip-path: polygon(
      16px 0,
      calc(100% - 16px) 0,
      100% 16px,
      100% calc(100% - 16px),
      calc(100% - 16px) 100%,
      16px 100%,
      0 calc(100% - 16px),
      0 16px
    );
  }
}

body {
  /* color: var(--color-foreground);
  background: var(--color-background); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(40, 40, 40);
  border-radius: 10px;
  background-clip: padding-box;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 180);
  background-clip: padding-box;
}
